extends ../layout/index
block contenido
    div.py-10
        h1.text-5xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-3xl.font-extrabold= pageName

        div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow
                form.space-y-5                    
                    div
                        label.block.text-sm.uppercase.text-gray-500.font-bold.mb-2(for="email") Tu email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu email" type="text" name="email")

                    div
                        label.block.text-sm.uppercase.text-gray-500.font-bold.mb-2(for="password") Tu password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu password" type="password" name="password")
                    
                    input(class="px-4 py-2 w-full bg-slate-800 mx-auto rounded-md uppercase font-bold text-white hover:cursor-pointer hover:bg-slate-600 transition-colors duration-150")(type="submit" value="Iniciar sesión")